{% extends 'default.html'%}
{% load static %}

{% block content %}
<div class="tm-right-column">
     

        <div class="tm-content-div">
 <section id="galleryone" class="tm-section">
     <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Gallery One</h2></header>
     <div class="tm-gallery-container tm-gallery-1">
         <div class="tm-img-container tm-img-container-1">
             <a href="{% static 'img/neaty-03.jpg' %}""><img src="{% static 'img/neaty-03.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-1">
             <a href="{% static 'img/neaty-04.jpg' %}""><img src="{% static 'img/neaty-04.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-1">
             <a href="{% static 'img/neaty-05.jpg' %}""><img src="{% static 'img/neaty-05.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-1">
             <a href="{% static 'img/neaty-06.jpg' %}""><img src="{% static 'img/neaty-06.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-1">
             <a href="{% static 'img/neaty-07.jpg' %}""><img src="{% static 'img/neaty-07.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>         
     </div>
 </section>

 <!-- Second Gallery section -->     
 <section id="secondgallery" class="tm-section">
     <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Second Gallery</h2></header>
     <div class="tm-gallery-container tm-gallery-2">
         <div class="tm-img-container tm-img-container-2">
             <a href="{% static 'img/neaty-08.jpg' %}""><img src="{% static 'img/neaty-08.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-2">
             <a href="{% static 'img/neaty-09.jpg' %}""><img src="{% static 'img/neaty-09.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-2">
             <a href="{% static 'img/neaty-10.jpg' %}""><img src="{% static 'img/neaty-10.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>         
     </div>
 </section>

 <!-- Third Gallery section -->     
 <section id="thirdgallery" class="tm-section">
     <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Third Gallery</h2></header>
     <div class="tm-gallery-container tm-gallery-3">
         <div class="tm-img-container tm-img-container-3">
             <a href="{% static 'img/neaty-11.jpg' %}""><img src="{% static 'img/neaty-11.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>    
         </div>
         <div class="tm-img-container tm-img-container-3">
             <a href="{% static 'img/neaty-12.jpg' %}""><img src="{% static 'img/neaty-12.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>
         </div>
         <div class="tm-img-container tm-img-container-3">
             <a href="{% static 'img/neaty-13.jpg' %}""><img src="{% static 'img/neaty-13.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>
         </div>
         <div class="tm-img-container tm-img-container-3">
             <a href="{% static 'img/neaty-14.jpg' %}""><img src="{% static 'img/neaty-14.jpg' %}"" alt="Image" class="img-fluid tm-img-tn"></a>
         </div>         
     </div>
 </section>

{% endblock %}