{% extends 'default.html' %}
{% load static %}
{% block content %}
<div class="tm-right-column">
    <div class="tm-content-div">

    <section id="contact" class="tm-section">

       
    <div class="row">
        <form action='/college/register' method="post"> 
            {% csrf_token %}

        <div class="col-lg-6">

            <h1>Register Here</h1>
            <hr>    
            <div class="form-group">
                <input type="text" id="contact_name" 
                name="username" class="form-control" placeholder="User Name"  required/>
            </div>

            <div class="form-group">
                    <input type="text" id="contact_name" 
                    name="email" class="form-control" placeholder="Email"  required/>
            </div>
    
            <div class="form-group">
                    <input type="password" id="contact_name" 
                    name="pwd" class="form-control" placeholder="Password"  required/>
            </div>

            <div class="form-group">
                    <select name="type" class="form-control"required>
                        <option value=''>Select Your Type</option>
                        <option value='1'>Faculty</option>
                        <option value='2'>Student</option>                        
                    </select>
            </div>


            <div class="form-group">
                    <select name="branch" class="form-control"required>
                        <option value=''>Select Your Branch</option>
                        <option value='1'>Computer Science</option>
                        <option value='2'>Electronic and Communication</option>                        
                        <option value='3'>Mechanical</option>                                                
                    </select>
            </div>
    
    

            <div class="form-group">
                    <button type='submit' class="btn btn-success">Sign Up</button>
            </div>
        </div>
        </form>

        <form action="/college/loginuser" method="post">
                    {% csrf_token %}
        <div class="col-lg-6">
            <h1>Login Here</h1>
            <hr>
            <div class="form-group">
                    <input type="text" id="contact_name" 
                    name="email" class="form-control" placeholder="User Email ID"  required/>
            </div>

            <div class="form-group">
                <input type="password" id="contact_name" 
                     name="pwd" class="form-control" placeholder="Password"  required/>
            </div>                

            <div class="form-group">
                <button class="btn btn-success">Sign In</button>
                &nbsp;&nbsp;&nbsp;
                <b class='text-danger'>{{msg}}</b>
            </div>
        </div>
        </form>
    </div>        

    </section>
{% endblock %}